<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= content_tag :div, 'Loading...', id: 'graphiql-container', data: {
      graphql_path: graphql_path,
      initial_query: GraphiQL::Rails.config.initial_query,
      logo: GraphiQL::Rails.config.logo,
      headers: GraphiQL::Rails.config.resolve_headers(self),
      query_params: GraphiQL::Rails.config.query_params,
    } %>
